services:
  localstack:
    image: localstack/localstack
    ports:
      - '4566:4566'
    environment:
      - DEBUG=1
      - SERVICES=s3,secretsmanager
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
