services:
  consul-server:
    image: consul
    volumes:
      - ./consul/server.d/:/etc/consul.d/
    command: 'consul agent -config-file=/etc/consul.d/config.json'

  nomad-server:
    build: ./node
    expose:
      - '4646'
      - '4647'
      - '4648'
    ports:
      - '4646:4646'
    privileged: true
    volumes:
      - ./nomad/server.d/:/etc/nomad.d/
      - ./consul/client.d/:/etc/consul.d/
    depends_on:
      - consul-server

  nomad-follower-1:
    build: ./node
    expose:
      - '4647'
    privileged: true
    volumes:
      - ./nomad/server.d/:/etc/nomad.d/
      - ./consul/client.d/:/etc/consul.d/
    depends_on:
      - nomad-server

  nomad-follower-2:
    build: ./node
    expose:
      - '4648'
    privileged: true
    volumes:
      - ./nomad/server.d/:/etc/nomad.d/
      - ./consul/client.d/:/etc/consul.d/
    depends_on:
      - nomad-server

  nomad-client-dc1:
    build: ./node
    privileged: true
    volumes:
      - ./consul/client.d/:/etc/consul.d/
      - ./nomad/client.d/dc1:/etc/nomad.d/
    depends_on:
      - nomad-server

  nomad-client-dc2:
    build: ./node
    privileged: true
    volumes:
      - ./consul/client.d/:/etc/consul.d/
      - ./nomad/client.d/dc2/:/etc/nomad.d/
    depends_on:
      - nomad-server
